/shelf/
/.idea/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/

Backend/HELP.md
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar

!Backend/**/src/main/**/target/
!Backend/**/src/test/**/target/

Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings/
Backend/.springBeans
Backend/.sts4-cache

Backend/.idea/
Backend/*.iws
Backend/*.iml
Backend/*.ipr

Backend/nbproject/private/
Backend/nbbuild/
Backend/dist/
Backend/nbdist/
Backend/.nb-gradle/
Backend/build/

!Backend/**/src/main/**/build/
!Backend/**/src/test/**/build/

Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/.angular/cache/
Frontend/tmp/
Frontend/out-tsc/
Frontend/bazel-out/
Frontend/coverage/
Frontend/.sass-cache/
Frontend/connect.lock
Frontend/libpeerconnection.log
Frontend/testem.log
Frontend/typings/

Frontend/npm-debug.log*
Frontend/yarn-error.log*

.vscode/
.idea/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

.env
*.env

*.log