.footer-toolbar {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  
  border-top: 1px solid #E5E7EB; 
  
  color: #6B7280; 
  background-color: #ffffff;
}